.about {
  margin-top: 8em;
  &__item {
    padding-left: 3em;
    padding-right: 3em;
    hr {
      border-bottom: 0.05em solid $orange-1;
    }
  }

  .slick-dots {
    width: 100%;
    top: -4em;
    border-bottom: 0.1em solid white;
    li {
      position: relative;
      font-size: 1rem;
      margin-right: 2em;
      width: 3em;
      text-align: center;
      button {
        background-color: transparent;
        outline: 0;
        color: #c2b59b;
        border: none;
        font-size: .9em;
        position: absolute;
        top: -3em;
        height: 2em;
        right: -50%;
        line-height: 1rem;
        text-transform: uppercase;
        width: 4em;
      }
      &:after {
        content: '';
        position: absolute;
        width: .5em;
        height: .5em;
        right: 0;
        bottom: -0.6em;
        border-radius: (1em / 2);
        background-color: white;
      }
      &.slick-active {
        button {
          top: -5em;
          color: $black-1;
          font-weight: bold;
          width: 4em;
          height: 4em;
          border-radius: 2em;
          border: 1px solid $orange-1;
          background-color: white;
        }
        &:before {
          content: '';
          position: absolute;
          height: 2em;
          width: 0.1em;
          background-color: $orange-1;
          right: 0.2em;
          bottom: -0.1em;
        }
      }
    }
  } //End dots
}