.about {
  margin-top: 8em;
  &__item {
    padding-left: 3em;
    padding-right: 3em;
    line-height: 1.2;
    &:first-child {
      hr {
        opacity: 0;
      }
    }
    hr {
      border-bottom: 0.05em solid $orange-1;
    }
  }

  .slick-arrow {
    &:before, &:after {
      background-color: $gray-2;
    }
    &:hover {
      &:before, &:after {
        background-color: white;
      }
    }
    &.slick-disabled {

      &:before, &:after {
        background-color: transparent !important;
      }
      &:hover {
        cursor: default;
        &:before, &:after {
          background-color: transparent !important;
        }
      }
    }
  } //End slick-arrow

  .slick-dots {
    $border-width: 0.15em;
    width: 100%;
    top: -4em;

    padding: 0;
    li {
      position: relative;
      font-size: 1rem;
      margin-right: 2em;
      width: 3em;
      text-align: center;
      button {
        background-color: transparent;
        outline: 0;
        color: #c2b59b;
        border: none;
        font-size: .9em;
        position: absolute;
        top: -2.5em;
        height: 2em;
        right: -50%;
        line-height: 1rem;
        text-transform: uppercase;
        width: 4em;
        transition: all 200ms ease-in;
        &:after {
          content: '';
          position: absolute;
          width: .6em;
          height: .6em;
          right: 41%;
          bottom: -1.25em;
          border-radius: (1em / 2);
          background-color: white;
        }
      }
      &:after {
        content: '';
        border-top: $border-width solid white;
        position: absolute;
        transition: all 200ms ease-in;
        width: 8em;
        top: 0.36em;
        left: 0;
      }

      &.complete, &:first-child {
        &:after {
          border-top: $border-width solid $orange-1;
        }
        button {
          &:after {
            background-color: $orange-1;
          }
        }
      }

      &.slick-active {
        button {
          top: -5em;
          color: $black-1;
          font-weight: bold;
          width: 4em;
          height: 4em;
          border-radius: 2em;
          border: $border-width solid $orange-1;
          background-color: white;
          &:after {
            bottom: -1.9em;
            background-color: $orange-1;
          }
        }
        &:before {
          content: '';
          position: absolute;
          height: 2em;
          width: $border-width;
          border-right: $border-width solid $orange-1;
          right: 0.2em;
          bottom: -0.2em;
        }
      }
    }
  } //End dots

  &-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.2s ease-in-out;
    box-shadow: inset 0 0 200px 1000px rgba(0, 0, 0, 0.7);
    &-2005 {
      background-image: url("../img/about/2005.png");
    }
    &-2007 {
      background-image: url("../img/about/2007.png");
    }
    &-2008 {
      background-image: url("../img/about/2008.png");
    }
    &-2009 {
      background-image: url("../img/about/2009.png");
    }
    &-2010 {
      background-image: url("../img/about/2010.png");
    }
    &-current {
      background-image: url("../img/about/current.png");
    }
  } //End about-bg

}

