.auto-park {
  padding-left: 1em;
  padding-right: 1em;
  .card {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    border-right: 2px solid transparent;
    &-thumbnail {
      text-align: center;
      img {
        max-height: 10em;
      }
    }
    &-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &-option {
      display: flex;
      flex-direction: column;
    }
    .btn {
      border-color: $orange-3;
      color: $black-1;
      text-transform: uppercase;
      &:focus, &:hover, &:active {
        background-color: $orange-3;
        color: white;
      }
    }



  } //End card

  .slick {
    &-current {
      border-right-color: $dark-1;
    }
  }
  .slick-dots {
    text-align: center;
    width: 100%;
    margin-top: 2em;
    padding: 0;
    left: 0;
    li {
      font-size: 1rem;
      margin-right: 0.5em;
      button {
        background-color: transparent;
        border: none;
        outline: 0;
        color: #c2b59b;
      }
      &.slick-active {
        button {
          color: $black-1;
          font-weight: bold;
        }
      }
    }
  }

  @include screen-w(mobile) {
    .card {
      border: none;
    }
  }
}