.home-page {

}
.btn-get-cost {
  cursor: pointer;
  padding: .8rem .75rem;
}
.slick {
  ul {
    list-style: square;
    li {
      line-height: 2rem;
    }
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  &-list {
    width: 80%;
  }
}