.reviews {
  padding-left: 2em;
  padding-right: 2em;
  &__item {
    margin-top: 3em;
    padding-right: 2px;
    &-thumbnail {
      padding: .5em 1em 1em;
      background-color: white;
      border: .1em solid $black-2;
      img {
        width: 100%;
        display: inline;
        max-height: 15em;
      }
    }
    &-decription {
      margin-top: 1em;
      font-size: 0.8rem;
      line-height: 0.9rem;
      h5 {
        text-transform: uppercase;
        font-size: 0.9rem;
      }
    }
  }

  @mixin dot($default, $active) {
    @include sprite($default);
    .slick-active &, &:hover, &:focus {
      @include sprite($active);
    }
  }

  //Dots
  &-mageba {
    @include dot($dot-mageba, $dot-mageba-active);
  }
  &-global-pump {
    @include dot($dot-global-pump, $dot-global-pump-active);
  }
  &-goods {
    @include dot($dot-goods, $dot-goods-active);
  }

  .slick {
    &-dots {
      top: 0;
      bottom: 0;
      left: 0;
      height: 2em;
      padding: 0;
      display: flex;
      align-items: center;
      li {
        font-size: 1rem;
        margin-right: 2em;
        text-align: center;
        line-height: 3em;
        a {
          border-radius: 0;
          display: block;
          text-decoration: none;
        }
      }
    } //End dots
  } //End slick
}