.services-list {
  list-style: none;
  padding: 0;
  height: 70vh;

  &.active {
    & > li .wrap {
      background-color: $gray-1;
    }
    & > li.active .wrap {
      background-color: white;
    }
  }

  // Begin item
  &__item {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
    cursor:  pointer;
    text-align: center;
    padding: .5em;
    .wrap {
      background-color: white;
      height: 100%;
      border: .5px solid #ccc;
      width: 100%;
      box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.5);
      padding: 0.5em;
      &:hover {
        box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
      }
    }


    .title {
      position: absolute;
      bottom: 1em;
      width: 97%;
      h4 {
        font-size: 2rem;
      }
    }
    img {
      width: 70%;
      max-height: 80%;
    }
    .list {
      list-style: none;
      display: none;
      padding: 0;
    }

    .item-icon {
      position: absolute;
      right: 3em;
      top: 2em;
      width: 2em;
      .icon {
        position: absolute;
      }
    }

    // Begin small item
    &.compressed {
      height: 25%;
      .wrap {
        background-color: $gray-1;
        display: table;
      }
      .item-icon {
        display: table-cell;
        vertical-align: middle;
        position: inherit;
        .icon {
          position: inherit;
        }
      }
      .title {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        margin-left: 5em;
        padding-top: 1em;
        width: 80%;
        overflow: hidden;
        h4 {
          text-align: left;
          font-size: 1.5rem;
        }
      }
      img {
        display: none;
      }
    }
    // End small item

  }
  // End item



  &__detail {
    display: none;
    float: left;
    width: 100%;
    height: 25%;
    padding: .5em;
    .list {
      list-style: none;
      column-count: 3;
      background-color: $dark-1 !important;
      width: 100%;
      height: 100%;
      a {
        color: white;
        &:hover {
          color: $blue-1;
        }
      }
      li {

        a {
          display: block;
        }
      }
    }
  }
  &__footer {
    text-align: center;
    padding: 1em 0;
    clear: both;
    background-color: transparent !important;
  }
}

.offset {
  &-top {
    margin-bottom: -1em;
  }
  &-bottom {
    margin-top: -1em;
  }
}