@import 'helpers/variables';
@import 'helpers/sprite';
@import 'helpers/global';

@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/content";
@import "blocks/footer";

@import "components/pages";
@import "components/form";
@import "components/arrow";
@import "components/slick";
@import 'components/icons';

@import "sections/home";
@import "sections/services";
@import "sections/facts";

html {
  font-family: Tahoma, sans-serif;
  @include screen-h(sm) {
    font-size: 80%;
  }
  @include screen-h(md) {
    font-size: 100%;
  }
  @include screen-h(lg) {
    font-size: 120%;
  }
  @include screen-h(xl) {
    font-size: 140%;
  }
}

.b-main {
  height: 100%;
  margin-top: $h-header-lg;

  &-container {
    width: 80%;
  }
  
  @include screen-h(sm) {
    margin-top: $h-header-sm;
  }
  @include screen-h(md) {
    margin-top: $h-header-md;
  }

  @include screen-w(sm) {
    margin-top: $h-header-sm;
  }
  @include screen-w(md) {
    margin-top: $h-header-md;
  }
}