html {
  font-family: Tahoma, sans-serif;
  @include screen-h(sm) {
    font-size: 80%;
  }
  @include screen-h(md) {
    font-size: 100%;
  }
  @include screen-h(lg) {
    font-size: 120%;
  }
  @include screen-h(xl) {
    font-size: 140%;
  }
}

.b-main {
  height: 100%;
  position: relative;
  z-index: 1;

  &-container {
    width: 80%;
  }
}

.text-reset {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
}

.g-overflow-hidden {
  overflow: hidden !important;
}

.g-bg-light {
  background-image: url("../img/bg-light.jpg");
}