// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$dot-global-pump-active-name: 'dot-global pump-active';
$dot-global-pump-active-x: 309px;
$dot-global-pump-active-y: 193px;
$dot-global-pump-active-offset-x: -309px;
$dot-global-pump-active-offset-y: -193px;
$dot-global-pump-active-width: 257px;
$dot-global-pump-active-height: 29px;
$dot-global-pump-active-total-width: 662px;
$dot-global-pump-active-total-height: 335px;
$dot-global-pump-active-image: '../img/sprite.png';
$dot-global-pump-active: (309px, 193px, -309px, -193px, 257px, 29px, 662px, 335px, '../img/sprite.png', 'dot-global pump-active', );
$dot-global-pump-name: 'dot-global pump';
$dot-global-pump-x: 309px;
$dot-global-pump-y: 162px;
$dot-global-pump-offset-x: -309px;
$dot-global-pump-offset-y: -162px;
$dot-global-pump-width: 257px;
$dot-global-pump-height: 29px;
$dot-global-pump-total-width: 662px;
$dot-global-pump-total-height: 335px;
$dot-global-pump-image: '../img/sprite.png';
$dot-global-pump: (309px, 162px, -309px, -162px, 257px, 29px, 662px, 335px, '../img/sprite.png', 'dot-global pump', );
$dot-goods-active-name: 'dot-goods-active';
$dot-goods-active-x: 309px;
$dot-goods-active-y: 0px;
$dot-goods-active-offset-x: -309px;
$dot-goods-active-offset-y: 0px;
$dot-goods-active-width: 353px;
$dot-goods-active-height: 29px;
$dot-goods-active-total-width: 662px;
$dot-goods-active-total-height: 335px;
$dot-goods-active-image: '../img/sprite.png';
$dot-goods-active: (309px, 0px, -309px, 0px, 353px, 29px, 662px, 335px, '../img/sprite.png', 'dot-goods-active', );
$dot-goods-name: 'dot-goods';
$dot-goods-x: 309px;
$dot-goods-y: 31px;
$dot-goods-offset-x: -309px;
$dot-goods-offset-y: -31px;
$dot-goods-width: 353px;
$dot-goods-height: 29px;
$dot-goods-total-width: 662px;
$dot-goods-total-height: 335px;
$dot-goods-image: '../img/sprite.png';
$dot-goods: (309px, 31px, -309px, -31px, 353px, 29px, 662px, 335px, '../img/sprite.png', 'dot-goods', );
$dot-mageba-active-name: 'dot-mageba-active';
$dot-mageba-active-x: 309px;
$dot-mageba-active-y: 224px;
$dot-mageba-active-offset-x: -309px;
$dot-mageba-active-offset-y: -224px;
$dot-mageba-active-width: 143px;
$dot-mageba-active-height: 42px;
$dot-mageba-active-total-width: 662px;
$dot-mageba-active-total-height: 335px;
$dot-mageba-active-image: '../img/sprite.png';
$dot-mageba-active: (309px, 224px, -309px, -224px, 143px, 42px, 662px, 335px, '../img/sprite.png', 'dot-mageba-active', );
$dot-mageba-name: 'dot-mageba';
$dot-mageba-x: 509px;
$dot-mageba-y: 62px;
$dot-mageba-offset-x: -509px;
$dot-mageba-offset-y: -62px;
$dot-mageba-width: 143px;
$dot-mageba-height: 42px;
$dot-mageba-total-width: 662px;
$dot-mageba-total-height: 335px;
$dot-mageba-image: '../img/sprite.png';
$dot-mageba: (509px, 62px, -509px, -62px, 143px, 42px, 662px, 335px, '../img/sprite.png', 'dot-mageba', );
$icon-calc-name: 'icon-calc';
$icon-calc-x: 0px;
$icon-calc-y: 106px;
$icon-calc-offset-x: 0px;
$icon-calc-offset-y: -106px;
$icon-calc-width: 123px;
$icon-calc-height: 101px;
$icon-calc-total-width: 662px;
$icon-calc-total-height: 335px;
$icon-calc-image: '../img/sprite.png';
$icon-calc: (0px, 106px, 0px, -106px, 123px, 101px, 662px, 335px, '../img/sprite.png', 'icon-calc', );
$icon-car-name: 'icon-car';
$icon-car-x: 189px;
$icon-car-y: 209px;
$icon-car-offset-x: -189px;
$icon-car-offset-y: -209px;
$icon-car-width: 91px;
$icon-car-height: 49px;
$icon-car-total-width: 662px;
$icon-car-total-height: 335px;
$icon-car-image: '../img/sprite.png';
$icon-car: (189px, 209px, -189px, -209px, 91px, 49px, 662px, 335px, '../img/sprite.png', 'icon-car', );
$icon-container-o-name: 'icon-container-o';
$icon-container-o-x: 125px;
$icon-container-o-y: 106px;
$icon-container-o-offset-x: -125px;
$icon-container-o-offset-y: -106px;
$icon-container-o-width: 92px;
$icon-container-o-height: 62px;
$icon-container-o-total-width: 662px;
$icon-container-o-total-height: 335px;
$icon-container-o-image: '../img/sprite.png';
$icon-container-o: (125px, 106px, -125px, -106px, 92px, 62px, 662px, 335px, '../img/sprite.png', 'icon-container-o', );
$icon-container-name: 'icon-container';
$icon-container-x: 219px;
$icon-container-y: 106px;
$icon-container-offset-x: -219px;
$icon-container-offset-y: -106px;
$icon-container-width: 60px;
$icon-container-height: 60px;
$icon-container-total-width: 662px;
$icon-container-total-height: 335px;
$icon-container-image: '../img/sprite.png';
$icon-container: (219px, 106px, -219px, -106px, 60px, 60px, 662px, 335px, '../img/sprite.png', 'icon-container', );
$icon-contract-name: 'icon-contract';
$icon-contract-x: 0px;
$icon-contract-y: 0px;
$icon-contract-offset-x: 0px;
$icon-contract-offset-y: 0px;
$icon-contract-width: 155px;
$icon-contract-height: 104px;
$icon-contract-total-width: 662px;
$icon-contract-total-height: 335px;
$icon-contract-image: '../img/sprite.png';
$icon-contract: (0px, 0px, 0px, 0px, 155px, 104px, 662px, 335px, '../img/sprite.png', 'icon-contract', );
$icon-decl-name: 'icon-decl';
$icon-decl-x: 268px;
$icon-decl-y: 273px;
$icon-decl-offset-x: -268px;
$icon-decl-offset-y: -273px;
$icon-decl-width: 45px;
$icon-decl-height: 60px;
$icon-decl-total-width: 662px;
$icon-decl-total-height: 335px;
$icon-decl-image: '../img/sprite.png';
$icon-decl: (268px, 273px, -268px, -273px, 45px, 60px, 662px, 335px, '../img/sprite.png', 'icon-decl', );
$icon-delivery-name: 'icon-delivery';
$icon-delivery-x: 157px;
$icon-delivery-y: 0px;
$icon-delivery-offset-x: -157px;
$icon-delivery-offset-y: 0px;
$icon-delivery-width: 150px;
$icon-delivery-height: 89px;
$icon-delivery-total-width: 662px;
$icon-delivery-total-height: 335px;
$icon-delivery-image: '../img/sprite.png';
$icon-delivery: (157px, 0px, -157px, 0px, 150px, 89px, 662px, 335px, '../img/sprite.png', 'icon-delivery', );
$icon-human-name: 'icon-human';
$icon-human-x: 0px;
$icon-human-y: 273px;
$icon-human-offset-x: 0px;
$icon-human-offset-y: -273px;
$icon-human-width: 56px;
$icon-human-height: 62px;
$icon-human-total-width: 662px;
$icon-human-total-height: 335px;
$icon-human-image: '../img/sprite.png';
$icon-human: (0px, 273px, 0px, -273px, 56px, 62px, 662px, 335px, '../img/sprite.png', 'icon-human', );
$icon-man-name: 'icon-man';
$icon-man-x: 169px;
$icon-man-y: 273px;
$icon-man-offset-x: -169px;
$icon-man-offset-y: -273px;
$icon-man-width: 50px;
$icon-man-height: 60px;
$icon-man-total-width: 662px;
$icon-man-total-height: 335px;
$icon-man-image: '../img/sprite.png';
$icon-man: (169px, 273px, -169px, -273px, 50px, 60px, 662px, 335px, '../img/sprite.png', 'icon-man', );
$icon-maps-name: 'icon-maps';
$icon-maps-x: 58px;
$icon-maps-y: 273px;
$icon-maps-offset-x: -58px;
$icon-maps-offset-y: -273px;
$icon-maps-width: 56px;
$icon-maps-height: 61px;
$icon-maps-total-width: 662px;
$icon-maps-total-height: 335px;
$icon-maps-image: '../img/sprite.png';
$icon-maps: (58px, 273px, -58px, -273px, 56px, 61px, 662px, 335px, '../img/sprite.png', 'icon-maps', );
$icon-mark-name: 'icon-mark';
$icon-mark-x: 309px;
$icon-mark-y: 62px;
$icon-mark-offset-x: -309px;
$icon-mark-offset-y: -62px;
$icon-mark-width: 97px;
$icon-mark-height: 98px;
$icon-mark-total-width: 662px;
$icon-mark-total-height: 335px;
$icon-mark-image: '../img/sprite.png';
$icon-mark: (309px, 62px, -309px, -62px, 97px, 98px, 662px, 335px, '../img/sprite.png', 'icon-mark', );
$icon-mask-name: 'icon-mask';
$icon-mask-x: 221px;
$icon-mask-y: 273px;
$icon-mask-offset-x: -221px;
$icon-mask-offset-y: -273px;
$icon-mask-width: 45px;
$icon-mask-height: 60px;
$icon-mask-total-width: 662px;
$icon-mask-total-height: 335px;
$icon-mask-image: '../img/sprite.png';
$icon-mask: (221px, 273px, -221px, -273px, 45px, 60px, 662px, 335px, '../img/sprite.png', 'icon-mask', );
$icon-ship-name: 'icon-ship';
$icon-ship-x: 116px;
$icon-ship-y: 273px;
$icon-ship-offset-x: -116px;
$icon-ship-offset-y: -273px;
$icon-ship-width: 51px;
$icon-ship-height: 60px;
$icon-ship-total-width: 662px;
$icon-ship-total-height: 335px;
$icon-ship-image: '../img/sprite.png';
$icon-ship: (116px, 273px, -116px, -273px, 51px, 60px, 662px, 335px, '../img/sprite.png', 'icon-ship', );
$icon-stock-o-name: 'icon-stock-o';
$icon-stock-o-x: 408px;
$icon-stock-o-y: 62px;
$icon-stock-o-offset-x: -408px;
$icon-stock-o-offset-y: -62px;
$icon-stock-o-width: 99px;
$icon-stock-o-height: 63px;
$icon-stock-o-total-width: 662px;
$icon-stock-o-total-height: 335px;
$icon-stock-o-image: '../img/sprite.png';
$icon-stock-o: (408px, 62px, -408px, -62px, 99px, 63px, 662px, 335px, '../img/sprite.png', 'icon-stock-o', );
$icon-train-name: 'icon-train';
$icon-train-x: 315px;
$icon-train-y: 273px;
$icon-train-offset-x: -315px;
$icon-train-offset-y: -273px;
$icon-train-width: 33px;
$icon-train-height: 60px;
$icon-train-total-width: 662px;
$icon-train-total-height: 335px;
$icon-train-image: '../img/sprite.png';
$icon-train: (315px, 273px, -315px, -273px, 33px, 60px, 662px, 335px, '../img/sprite.png', 'icon-train', );
$icon-waggon-o-name: 'icon-waggon-o';
$icon-waggon-o-x: 0px;
$icon-waggon-o-y: 209px;
$icon-waggon-o-offset-x: 0px;
$icon-waggon-o-offset-y: -209px;
$icon-waggon-o-width: 187px;
$icon-waggon-o-height: 62px;
$icon-waggon-o-total-width: 662px;
$icon-waggon-o-total-height: 335px;
$icon-waggon-o-image: '../img/sprite.png';
$icon-waggon-o: (0px, 209px, 0px, -209px, 187px, 62px, 662px, 335px, '../img/sprite.png', 'icon-waggon-o', );
$phone-name: 'phone';
$phone-x: 408px;
$phone-y: 127px;
$phone-offset-x: -408px;
$phone-offset-y: -127px;
$phone-width: 31px;
$phone-height: 31px;
$phone-total-width: 662px;
$phone-total-height: 335px;
$phone-image: '../img/sprite.png';
$phone: (408px, 127px, -408px, -127px, 31px, 31px, 662px, 335px, '../img/sprite.png', 'phone', );
$question-name: 'question';
$question-x: 441px;
$question-y: 127px;
$question-offset-x: -441px;
$question-offset-y: -127px;
$question-width: 26px;
$question-height: 26px;
$question-total-width: 662px;
$question-total-height: 335px;
$question-image: '../img/sprite.png';
$question: (441px, 127px, -441px, -127px, 26px, 26px, 662px, 335px, '../img/sprite.png', 'question', );
$spritesheet-width: 662px;
$spritesheet-height: 335px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($dot-global-pump-active, $dot-global-pump, $dot-goods-active, $dot-goods, $dot-mageba-active, $dot-mageba, $icon-calc, $icon-car, $icon-container-o, $icon-container, $icon-contract, $icon-decl, $icon-delivery, $icon-human, $icon-man, $icon-maps, $icon-mark, $icon-mask, $icon-ship, $icon-stock-o, $icon-train, $icon-waggon-o, $phone, $question, );
$spritesheet: (662px, 335px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
