// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$close-active-name: 'close-active';
$close-active-x: 118px;
$close-active-y: 209px;
$close-active-offset-x: -118px;
$close-active-offset-y: -209px;
$close-active-width: 23px;
$close-active-height: 23px;
$close-active-total-width: 365px;
$close-active-total-height: 320px;
$close-active-image: '../img/sprite.png';
$close-active: (118px, 209px, -118px, -209px, 23px, 23px, 365px, 320px, '../img/sprite.png', 'close-active', );
$close-name: 'close';
$close-x: 93px;
$close-y: 209px;
$close-offset-x: -93px;
$close-offset-y: -209px;
$close-width: 23px;
$close-height: 23px;
$close-total-width: 365px;
$close-total-height: 320px;
$close-image: '../img/sprite.png';
$close: (93px, 209px, -93px, -209px, 23px, 23px, 365px, 320px, '../img/sprite.png', 'close', );
$icon-calc-name: 'icon-calc';
$icon-calc-x: 0px;
$icon-calc-y: 106px;
$icon-calc-offset-x: 0px;
$icon-calc-offset-y: -106px;
$icon-calc-width: 123px;
$icon-calc-height: 101px;
$icon-calc-total-width: 365px;
$icon-calc-total-height: 320px;
$icon-calc-image: '../img/sprite.png';
$icon-calc: (0px, 106px, 0px, -106px, 123px, 101px, 365px, 320px, '../img/sprite.png', 'icon-calc', );
$icon-car-name: 'icon-car';
$icon-car-x: 0px;
$icon-car-y: 209px;
$icon-car-offset-x: 0px;
$icon-car-offset-y: -209px;
$icon-car-width: 91px;
$icon-car-height: 49px;
$icon-car-total-width: 365px;
$icon-car-total-height: 320px;
$icon-car-image: '../img/sprite.png';
$icon-car: (0px, 209px, 0px, -209px, 91px, 49px, 365px, 320px, '../img/sprite.png', 'icon-car', );
$icon-container-name: 'icon-container';
$icon-container-x: 224px;
$icon-container-y: 106px;
$icon-container-offset-x: -224px;
$icon-container-offset-y: -106px;
$icon-container-width: 60px;
$icon-container-height: 60px;
$icon-container-total-width: 365px;
$icon-container-total-height: 320px;
$icon-container-image: '../img/sprite.png';
$icon-container: (224px, 106px, -224px, -106px, 60px, 60px, 365px, 320px, '../img/sprite.png', 'icon-container', );
$icon-contract-name: 'icon-contract';
$icon-contract-x: 0px;
$icon-contract-y: 0px;
$icon-contract-offset-x: 0px;
$icon-contract-offset-y: 0px;
$icon-contract-width: 155px;
$icon-contract-height: 104px;
$icon-contract-total-width: 365px;
$icon-contract-total-height: 320px;
$icon-contract-image: '../img/sprite.png';
$icon-contract: (0px, 0px, 0px, 0px, 155px, 104px, 365px, 320px, '../img/sprite.png', 'icon-contract', );
$icon-decl-name: 'icon-decl';
$icon-decl-x: 0px;
$icon-decl-y: 260px;
$icon-decl-offset-x: 0px;
$icon-decl-offset-y: -260px;
$icon-decl-width: 45px;
$icon-decl-height: 60px;
$icon-decl-total-width: 365px;
$icon-decl-total-height: 320px;
$icon-decl-image: '../img/sprite.png';
$icon-decl: (0px, 260px, 0px, -260px, 45px, 60px, 365px, 320px, '../img/sprite.png', 'icon-decl', );
$icon-delivery-name: 'icon-delivery';
$icon-delivery-x: 157px;
$icon-delivery-y: 0px;
$icon-delivery-offset-x: -157px;
$icon-delivery-offset-y: 0px;
$icon-delivery-width: 150px;
$icon-delivery-height: 89px;
$icon-delivery-total-width: 365px;
$icon-delivery-total-height: 320px;
$icon-delivery-image: '../img/sprite.png';
$icon-delivery: (157px, 0px, -157px, 0px, 150px, 89px, 365px, 320px, '../img/sprite.png', 'icon-delivery', );
$icon-human-name: 'icon-human';
$icon-human-x: 309px;
$icon-human-y: 0px;
$icon-human-offset-x: -309px;
$icon-human-offset-y: 0px;
$icon-human-width: 56px;
$icon-human-height: 62px;
$icon-human-total-width: 365px;
$icon-human-total-height: 320px;
$icon-human-image: '../img/sprite.png';
$icon-human: (309px, 0px, -309px, 0px, 56px, 62px, 365px, 320px, '../img/sprite.png', 'icon-human', );
$icon-man-name: 'icon-man';
$icon-man-x: 309px;
$icon-man-y: 189px;
$icon-man-offset-x: -309px;
$icon-man-offset-y: -189px;
$icon-man-width: 50px;
$icon-man-height: 60px;
$icon-man-total-width: 365px;
$icon-man-total-height: 320px;
$icon-man-image: '../img/sprite.png';
$icon-man: (309px, 189px, -309px, -189px, 50px, 60px, 365px, 320px, '../img/sprite.png', 'icon-man', );
$icon-maps-name: 'icon-maps';
$icon-maps-x: 309px;
$icon-maps-y: 64px;
$icon-maps-offset-x: -309px;
$icon-maps-offset-y: -64px;
$icon-maps-width: 56px;
$icon-maps-height: 61px;
$icon-maps-total-width: 365px;
$icon-maps-total-height: 320px;
$icon-maps-image: '../img/sprite.png';
$icon-maps: (309px, 64px, -309px, -64px, 56px, 61px, 365px, 320px, '../img/sprite.png', 'icon-maps', );
$icon-mark-name: 'icon-mark';
$icon-mark-x: 125px;
$icon-mark-y: 106px;
$icon-mark-offset-x: -125px;
$icon-mark-offset-y: -106px;
$icon-mark-width: 97px;
$icon-mark-height: 98px;
$icon-mark-total-width: 365px;
$icon-mark-total-height: 320px;
$icon-mark-image: '../img/sprite.png';
$icon-mark: (125px, 106px, -125px, -106px, 97px, 98px, 365px, 320px, '../img/sprite.png', 'icon-mark', );
$icon-mask-name: 'icon-mask';
$icon-mask-x: 47px;
$icon-mask-y: 260px;
$icon-mask-offset-x: -47px;
$icon-mask-offset-y: -260px;
$icon-mask-width: 45px;
$icon-mask-height: 60px;
$icon-mask-total-width: 365px;
$icon-mask-total-height: 320px;
$icon-mask-image: '../img/sprite.png';
$icon-mask: (47px, 260px, -47px, -260px, 45px, 60px, 365px, 320px, '../img/sprite.png', 'icon-mask', );
$icon-ship-name: 'icon-ship';
$icon-ship-x: 309px;
$icon-ship-y: 127px;
$icon-ship-offset-x: -309px;
$icon-ship-offset-y: -127px;
$icon-ship-width: 51px;
$icon-ship-height: 60px;
$icon-ship-total-width: 365px;
$icon-ship-total-height: 320px;
$icon-ship-image: '../img/sprite.png';
$icon-ship: (309px, 127px, -309px, -127px, 51px, 60px, 365px, 320px, '../img/sprite.png', 'icon-ship', );
$icon-train-name: 'icon-train';
$icon-train-x: 94px;
$icon-train-y: 260px;
$icon-train-offset-x: -94px;
$icon-train-offset-y: -260px;
$icon-train-width: 33px;
$icon-train-height: 60px;
$icon-train-total-width: 365px;
$icon-train-total-height: 320px;
$icon-train-image: '../img/sprite.png';
$icon-train: (94px, 260px, -94px, -260px, 33px, 60px, 365px, 320px, '../img/sprite.png', 'icon-train', );
$phone-name: 'phone';
$phone-x: 224px;
$phone-y: 168px;
$phone-offset-x: -224px;
$phone-offset-y: -168px;
$phone-width: 31px;
$phone-height: 31px;
$phone-total-width: 365px;
$phone-total-height: 320px;
$phone-image: '../img/sprite.png';
$phone: (224px, 168px, -224px, -168px, 31px, 31px, 365px, 320px, '../img/sprite.png', 'phone', );
$question-name: 'question';
$question-x: 257px;
$question-y: 168px;
$question-offset-x: -257px;
$question-offset-y: -168px;
$question-width: 26px;
$question-height: 26px;
$question-total-width: 365px;
$question-total-height: 320px;
$question-image: '../img/sprite.png';
$question: (257px, 168px, -257px, -168px, 26px, 26px, 365px, 320px, '../img/sprite.png', 'question', );
$spritesheet-width: 365px;
$spritesheet-height: 320px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($close-active, $close, $icon-calc, $icon-car, $icon-container, $icon-contract, $icon-decl, $icon-delivery, $icon-human, $icon-man, $icon-maps, $icon-mark, $icon-mask, $icon-ship, $icon-train, $phone, $question, );
$spritesheet: (365px, 320px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
