// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-car-name: 'icon-car';
$icon-car-x: 0px;
$icon-car-y: 61px;
$icon-car-offset-x: 0px;
$icon-car-offset-y: -61px;
$icon-car-width: 91px;
$icon-car-height: 49px;
$icon-car-total-width: 91px;
$icon-car-total-height: 609px;
$icon-car-image: '../img/sprite.png';
$icon-car: (0px, 61px, 0px, -61px, 91px, 49px, 91px, 609px, '../img/sprite.png', 'icon-car', );
$icon-container-name: 'icon-container';
$icon-container-x: 0px;
$icon-container-y: 174px;
$icon-container-offset-x: 0px;
$icon-container-offset-y: -174px;
$icon-container-width: 60px;
$icon-container-height: 60px;
$icon-container-total-width: 91px;
$icon-container-total-height: 609px;
$icon-container-image: '../img/sprite.png';
$icon-container: (0px, 174px, 0px, -174px, 60px, 60px, 91px, 609px, '../img/sprite.png', 'icon-container', );
$icon-decl-name: 'icon-decl';
$icon-decl-x: 0px;
$icon-decl-y: 422px;
$icon-decl-offset-x: 0px;
$icon-decl-offset-y: -422px;
$icon-decl-width: 45px;
$icon-decl-height: 60px;
$icon-decl-total-width: 91px;
$icon-decl-total-height: 609px;
$icon-decl-image: '../img/sprite.png';
$icon-decl: (0px, 422px, 0px, -422px, 45px, 60px, 91px, 609px, '../img/sprite.png', 'icon-decl', );
$icon-human-name: 'icon-human';
$icon-human-x: 0px;
$icon-human-y: 547px;
$icon-human-offset-x: 0px;
$icon-human-offset-y: -547px;
$icon-human-width: 56px;
$icon-human-height: 62px;
$icon-human-total-width: 91px;
$icon-human-total-height: 609px;
$icon-human-image: '../img/sprite.png';
$icon-human: (0px, 547px, 0px, -547px, 56px, 62px, 91px, 609px, '../img/sprite.png', 'icon-human', );
$icon-man-name: 'icon-man';
$icon-man-x: 0px;
$icon-man-y: 112px;
$icon-man-offset-x: 0px;
$icon-man-offset-y: -112px;
$icon-man-width: 50px;
$icon-man-height: 60px;
$icon-man-total-width: 91px;
$icon-man-total-height: 609px;
$icon-man-image: '../img/sprite.png';
$icon-man: (0px, 112px, 0px, -112px, 50px, 60px, 91px, 609px, '../img/sprite.png', 'icon-man', );
$icon-maps-name: 'icon-maps';
$icon-maps-x: 0px;
$icon-maps-y: 484px;
$icon-maps-offset-x: 0px;
$icon-maps-offset-y: -484px;
$icon-maps-width: 56px;
$icon-maps-height: 61px;
$icon-maps-total-width: 91px;
$icon-maps-total-height: 609px;
$icon-maps-image: '../img/sprite.png';
$icon-maps: (0px, 484px, 0px, -484px, 56px, 61px, 91px, 609px, '../img/sprite.png', 'icon-maps', );
$icon-mask-name: 'icon-mask';
$icon-mask-x: 0px;
$icon-mask-y: 236px;
$icon-mask-offset-x: 0px;
$icon-mask-offset-y: -236px;
$icon-mask-width: 45px;
$icon-mask-height: 60px;
$icon-mask-total-width: 91px;
$icon-mask-total-height: 609px;
$icon-mask-image: '../img/sprite.png';
$icon-mask: (0px, 236px, 0px, -236px, 45px, 60px, 91px, 609px, '../img/sprite.png', 'icon-mask', );
$icon-ship-name: 'icon-ship';
$icon-ship-x: 0px;
$icon-ship-y: 298px;
$icon-ship-offset-x: 0px;
$icon-ship-offset-y: -298px;
$icon-ship-width: 51px;
$icon-ship-height: 60px;
$icon-ship-total-width: 91px;
$icon-ship-total-height: 609px;
$icon-ship-image: '../img/sprite.png';
$icon-ship: (0px, 298px, 0px, -298px, 51px, 60px, 91px, 609px, '../img/sprite.png', 'icon-ship', );
$icon-train-name: 'icon-train';
$icon-train-x: 0px;
$icon-train-y: 360px;
$icon-train-offset-x: 0px;
$icon-train-offset-y: -360px;
$icon-train-width: 33px;
$icon-train-height: 60px;
$icon-train-total-width: 91px;
$icon-train-total-height: 609px;
$icon-train-image: '../img/sprite.png';
$icon-train: (0px, 360px, 0px, -360px, 33px, 60px, 91px, 609px, '../img/sprite.png', 'icon-train', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 28px;
$phone-offset-x: 0px;
$phone-offset-y: -28px;
$phone-width: 31px;
$phone-height: 31px;
$phone-total-width: 91px;
$phone-total-height: 609px;
$phone-image: '../img/sprite.png';
$phone: (0px, 28px, 0px, -28px, 31px, 31px, 91px, 609px, '../img/sprite.png', 'phone', );
$question-name: 'question';
$question-x: 0px;
$question-y: 0px;
$question-offset-x: 0px;
$question-offset-y: 0px;
$question-width: 26px;
$question-height: 26px;
$question-total-width: 91px;
$question-total-height: 609px;
$question-image: '../img/sprite.png';
$question: (0px, 0px, 0px, 0px, 26px, 26px, 91px, 609px, '../img/sprite.png', 'question', );
$spritesheet-width: 91px;
$spritesheet-height: 609px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-car, $icon-container, $icon-decl, $icon-human, $icon-man, $icon-maps, $icon-mask, $icon-ship, $icon-train, $phone, $question, );
$spritesheet: (91px, 609px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
