//== Colors
$black-1: #000;
$black-2: #7D7D7D;

$white-1: white;

$blue-1: #01ADF1;

$orange-1: #F26422;
$orange-2: #E96122;

$dark-1: #2E3740;
$dark-2: #3f4e68;


$w-sidebar-xs: 100%;
$w-sidebar-sm: 100%;
$w-sidebar-md: 275px;
$w-sidebar-lg: 275px;

$h-xs: 320px;
$h-sm: 580px;
$h-md: 700px;
$h-lg: 900px;