//== Colors
$black-1: #000;
$black-2: #7D7D7D;

$white-1: white;

$blue-1: #01ADF1;

$orange-1: #F26422;
$orange-2: #E96122;

$dark-1: #2E3740;
$dark-2: #3f4e68;


$w-sidebar-xs: 100%;
$w-sidebar-sm: 200px;
$w-sidebar-md: 235px;
$w-sidebar-lg: 15em;

$h-header-xs: 90px;
$h-header-sm: 90px;
$h-header-md: 100px;
$h-header-lg: 6em;

$h-xs: 320px;
$h-sm: 580px;
$h-md: 768px;
$h-lg: 900px;

// Extra small screen / phone
$w-xs: 0;
// Small screen / phone
$w-sm: 576px;
// Medium screen / tablet
$w-md: 768px;
// Large screen / desktop
$w-lg: 992px;
// Extra large screen / wide desktop
$w-xl: 1200px;

@mixin screen-w($media) {
  @if $media == xs {
    @media only screen and (max-width: $w-sm) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $w-sm + 1) and (max-width: $w-md - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $w-md + 1) and (max-width: $w-lg - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $w-lg) { @content; }
  }
}

@mixin screen-h($media) {
  @if $media == sm {
    @media only screen and (max-height: $h-sm) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-height: $h-sm + 1) and (max-height: $h-md - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-height: $h-md) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-height: $h-lg) { @content; }
  }
}