.b-header {
  background-color: white;

  position: absolute;
  width: 100%;
  // Start header inner
  &-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: $h-header-lg;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    &__wrap {
      min-height: 35px;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
    }
    &__logo {
      background: url('/assets/img/logo.png') no-repeat;
      background-size: contain;
      display: block;
      width: 100%;
      height: 77px;
    }
    &__slogan {
      text-align: center;
      line-height: 2.5rem;
      white-space: nowrap;
    }
    &__call {
      padding-top: .65rem;
      &-icon {
        @include sprite($phone);
        display: inline-block;
        position: relative;
        top: 5px;
      }
      &-label {
        display: inline-block;
        position: relative;
        top: -3px;
      }
    }

    &__contact {
      padding-top: .8rem;
      .phone {
        font-weight: bold;
      }
    }

    &__right {
      padding-top: .4rem;
    }
    //Media query
    @include screen-h(sm) {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: $h-header-sm;
    }
    @include screen-h(md) {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: $h-header-md;
    }
    @include screen-w(sm) {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: $h-header-sm;
    }
    @include screen-w(md) {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: $h-header-md;
    }
    //End media query
  }
  //End header inner
}