.b-header {
  background-color: white;
  position: relative;
  z-index: 10;
  width: 100%;
  // Start header inner
  &-inner {
    padding-top: 30px;
    min-height: $h-header-lg;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    &__wrap {
      min-height: 35px;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
    }
    &__logo {
      background: url('/assets/img/logo.png') no-repeat;
      background-size: contain;
      display: block;
      width: 100%;
      height: 4em;
    }
    &__slogan {
      text-align: center;
      line-height: 2.5rem;
      white-space: nowrap;
    }
    &__btn {
      margin-left: -2rem;
      display: flex;
      justify-content: center;
      &-icon {
        @include sprite($phone);
      }
      &-label {
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    //Media query
    @include screen-h(sm) {
      padding-top: 10px;
      min-height: $h-header-sm;
    }
    @include screen-h(md) {
      padding-top: 20px;
      min-height: $h-header-md;
    }
    @include screen-w(sm) {
      padding-top: 20px;
      min-height: $h-header-sm;
    }
    @include screen-w(md) {
      padding-top: 10px;
      min-height: $h-header-md;
    }
    //End media query
  }
  //End header inner

  &-contact {
    font-size: 1.4rem;
    text-align: right;
    padding-right: 2.5em;
    margin-top: -.5rem;
    .phone {
      font-weight: bold;
      word-wrap: normal;
    }
    .free-call {
      font-size: .65rem;
      line-height: 0;
      padding-bottom: .3rem;
    }
  }

}

.b-link-personal {
  margin-left: 1em;
}

.coming-soon {
  display: flex;
  align-items: center;
  text-align: center;
  span {
    border: 1px solid $orange-3;
    color: $orange-1;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.5rem;
  }
}