.b-sidebar {
  z-index: 10;
  width: $w-sidebar-lg;
  height: 100%;
  border-right: 2px solid white;
  background-color: $dark-2;
  background: url("../img/bgsitebar.jpg") repeat $dark-2 ;
  float: left;
  &__wrap {
    padding: 1em 0;
    position: absolute;
    height: 100%;
    width: $w-sidebar-lg - 2;
  }
  &__list {
    li {
      position: relative;
      margin-bottom: .8rem;
      a {
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        &:after, &:before {
          top: 50%;
          height: 2px;
          width: 10px;
          display: none;
        }
      }
      @include screen-h(sm) {
        margin-bottom: 0;
        a {
          font-size: 0.8rem;
        }
      }
      @include screen-h(md) {
        margin-bottom: 0;
        a {
          font-size: 0.9rem;
        }
      }
      @include screen-h(lg) {
        margin-bottom: .8rem;
      }
    }
    .active {
      a {
        background-color: #2F3543;
        box-shadow: 0 2px 4px rgba(0,0,0,.6);
        &:after, &:before {
          display: inline-block;
          background-color: white;
        }
      }
    }
  }

  &__footer {
    padding: 0 20px;
    z-index: 1;
  }

  &__callback {
    padding: 0.65rem 0.75rem;
    border: 1px solid white;
    text-transform: uppercase;
    width: $w-sidebar-lg - 20 * 2;
    &-icon {
      @include sprite($question);
      display: inline-block;
      position: relative;
      top: 2px;
    }
    &-label {
      display: inline-block;
      position: relative;
      top: -3px;
    }
  }

  &__item {

  }
}