.b-sidebar {
  position: relative;
  z-index: 1;
  width: $w-sidebar-lg;
  height: 100%;
  border-right: 2px solid white;
  background: url("../img/bgsitebar.jpg") repeat $dark-2 ;
  float: left;
  transition: transform .2s,-webkit-transform .2s;
  &__wrap {
    padding: 1em 0;
    position: relative;
    height: 100%;
    width: 100%;
  }
  &__list {
    & > li {
      position: relative;
      margin-bottom: .6em;
      & > a {
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        position: relative;
        padding: .2em 1em;
        &.b-arrow {
          &:after {
            border-color: transparent;
            position: absolute;
            top: 0.6em;
            right: 1em;
          }
        }
      }
      & > ul {
        list-style: none;

        li {
          margin: .4rem 0;
          a {
            text-transform: uppercase;
            color: $blue-1;
            font-size: 0.9rem;
            text-decoration: underline;
            position: relative;
            &:after {
              position: absolute;
              left: -1.6em;
              top: 0.4em;
              border-color: white;
              border-width: 0 1px 1px 0;
              padding: 0.32em;
            }
            &:hover {
              color: $orange-1;
              &:after {
                border-color: $orange-1;
              }
            }
          }
        }
      }
      @include screen-h(md) {
        margin-bottom: 0;
      }
    }
    .active {
      & > a {
        background-color: #2F3543;
        box-shadow: 0 2px 4px rgba(0,0,0,.6);
        &.b-arrow {
          &:after {
            border-color: white;
          }
        }
      }
    }
  } //End list

  &__footer {
    padding: 0 20px;
    z-index: 1;
  }

  &__callback {
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid white;
    text-transform: uppercase;
    width: $w-sidebar-lg - 20 * 2;
    display: flex;
    align-items: center;
    &.active {
      background-color: $white-1;
      color: $orange-1;
    }
    &-icon {
      @include sprite($question);
      margin-left: -.5em;
    }
    &-label {

    }
  }

  &__item {

  }

  //Media query
  @include screen-w(xs) {
    transform: translateX(-100%);
  }
  @include screen-w(sm) {
    transform: translateX(-100%);
  }
  //End media query
}