-
    aboutList = [
        {
            year: 2005,
            bg: 'about-bg-2005',
            title: 'Все началось в 2005 году, в городе Находка (Восточный порт).',
            description: ['4 человека - выходцы их Таможенных органов и порта, которые понимали, что с бардаком в логистической сфере нужно что-то делать. Мы хотели предоставить качественно новый сервис всем клиентам. У нас была масштабная цель - создать сильного логистического провайдера в порту и привести на терминал большое количество TEU.']
        },
        {
            year: 2007,
            bg: 'about-bg-2007',
            title: 'Идет отработка  бизнес - процессов, формируется команда, создаются фирменные стандарты качества.',
            description: ['Объемы пока не велики - не более 50 контейнеров в месяц. Ключевые услуги - контейнерные перевозки автотранспортом и транспортировка специализированными контейнеровозами.']
        },
        {
            year: 2008,
            bg: 'about-bg-2008',
            title: 'Оптимизация бизнес процессов начала приносить свои плоды.',
            description: ['Цены на наши услуги значительно снизились, а объем перевозимых контейнеров вырос более чем вдвое: до 90-130 ед. в месяц. Компания смещает акценты на сферу транспортно - экспедиторского сервиса, таможенного оформления и входит на рынок грузоперевозок через порт Восточный, Находка и порт Владивосток.']
        },
        {
            year: 2009,
            bg: 'about-bg-2009',
            title: '«Конечно, мы о вас слышали».',
            description: ['Впервые эта фраза прозвучала из уст клиентов,  и это был поворотный момент. Кроме того,  стали оказывать полный комплекс услуг в сфере внешнеэкономической деятельности: таможенное оформление, аутсорсинг ВЭД, сертификация и консалтинг по ВЭД.', 'Объемы грузов по-прежнему растут: от 150 до180 контейнеров. Кроме тоо, нам впервые доверили  несколько сложных, нестандартных заказов, с которыми мы успешно справились.']
        },
        {
            year: 2010,
            bg: 'about-bg-2010',
            title: 'Теперь мы уже являемся крупным транспортно - экспедиторским оператором на Дальнем Востоке.',
            description: ['В этом году были открыты первые представительства в различных городах РФ и Китая. Продолжаются работы по улучшению сервиса обработки импортных и экспортных грузов, а объемы контейнерных грузов снова удваиваются - до 300 ед в месяц.']
        },
        {
            year: 'наши дни',
            bg: 'about-bg-current',
            title: 'Мы входим в TOP 3 крупнейших экспедиторов в Восточном порту, регулярно участвуем в отраслевых выставках, работаем по тендерным проектам, тесно взаимодействуем отечественными и зарубежными партнерами.',
            description: ['Основная доля нашего штата специалистов владеет действующими квалификационными аттестатами ФТС РФ специалистов по таможенному оформлению.']
        }
    ];

