-
    aboutList = [
        {
            year: 2005,
            bg: 'about-bg-2005',
            title: 'В связи с большим спросом на предлагаемые нами услуги перевозки контейнеров ' +
                'автотранспортом в зоне деятельности таможенных постов ДВТУ, был сформирован собственный' +
                ' автомобильный парк, позволяющий осуществлять перевозку до 130 контейнеров в месяц.',
            description: []
        },
        {
            year: 2007,
            bg: 'about-bg-2007',
            title: 'Формирование команды для организации транспортно-логистической компании, ' +
                'специализирующейся на международных контейнерных перевозках. ',
            description: ['Несомненные авторитет и опыт ключевых сотрудников, а также возможность осуществлять ' +
                'вывоз и доставку контейнеров в пределах региона собственным автотранспортом, позволили выдержать' +
                ' конкуренцию и занять свою нишу в сфере транспортно-логистических услуг. Благодаря выгодным тарифам ' +
                'и качеству предоставляемого сервиса, ежемесячный объём перевозимых контейнеров морским и' +
                ' железнодорожным транспортом к концу года составил 150-250 контейнеров.']
        },
        {
            year: 2009,
            bg: 'about-bg-2008',
            title: 'Наша компания укрепляет свои позиции, включив в спектр предлагаемых услуг таможенное оформление товаров.',
            description: ['Был сформирован штат сотрудников - настоящих профессионалов своего дела, которые' +
                ' всегда готовы предложить нашим клиентам высококачественные услуги в сфере внешнеэкономической ' +
                'деятельности, международной логистики и таможенного оформлении. Компания начинает тесно ' +
                'взаимодействовать с органами ФТС, производит таможенную очистку товаров в самые сжатые ' +
                'сроки с минимальными финансовыми затратами клиента.']
        },
        {
            year: 2010,
            bg: 'about-bg-2010',
            title: 'В этом году были открыты первые представительства в г. Владивосток и Москва.',
            description: ['C этого момента наша компания становится одним из крепнейших ' +
                'транспортно-экспедиторских операторов на Дальнем Востоке.<br/> ' +
                'Продолжаются работы по улучшению сервиса обработки импортных и экспортных грузов, ' +
                'а объемы контейнерных грузов снова удваиваются - до 300 ед в месяц.']
        },
        {
            year: 2012,
            bg: 'about-bg-2009',
            title: 'В целях усиления стратегических позиций в сфере внешнеэкономической ' +
                'деятельности и таможенного оформления, руководство компании SV Logistic ' +
                'приняло решение объединится с крупным брокерским оператором «СЛС».',
            description: ['В результате слияния компаний и трудоемкой работы специалистов ' +
                'в сфере таможенного оформления, спектр услуг SV Logistic успешно расширился: были ' +
                'открыты новые горизонты для перевозок и различные варианты оформления грузов. Разработанная ' +
                'стратегия, направленная на качество сервиса и правильное распределение грузовых потоков через ' +
                'пограничные переходы Дальнего Востока, Казахстана и Белоруссии, позволили существенно снизить' +
                ' цены и свободно конкурировать на рынке транспортного сегмента и ВЭД. Организованы новые ' +
                'представительства в городах Екатеринбург и Иркутск, а также зарубежные ' +
                'представительства на территории Китая в г.Пекин и в Латвии в г.Рига.']
        },
        {
            year: 2015,
            bg: 'about-bg-2010',
            title: 'За плечами компании SV Logistic уже годы плодотворной работы.',
            description: ['Постоянные клиенты уверены в подтверждении  согласованных гарантий и им нет ' +
                'необходимости переживать о каких-либо "сюрпризах" в виде несогласованных дополнительных ' +
                'расходов или уплаты таможенного обеспечения. Их доверие позволяет им инвестировать новые ' +
                'средства в товар, что приводит к многократному увеличению бесперебойного ' +
                'товарооборота.', 'Выстраивается  новый формат сотрудничества с Китаем, позволяющий предоставлять' +
                ' клиентам услугу "Азия ближе". Специалисты компании SV Logistic помогают клиентам в поиске и' +
                ' выборе различных товаров в странах АТР, контролируют качество и каждый этап сделки.']
        },
        {
            year: 'наши дни',
            bg: 'about-bg-current',
            title: '<p class="text-reset">В настоящее время компания SV Logistic имеет за плечами многолетний опыт и авторитет ' +
                'в сфере внешнеэкономической деятельности, таможенного оформления различных грузов, ' +
                'обладает статусом профессионала в области международной и внутрироссийской логистики.</p>',
            description: ['Команда SV Logistic зарекомендовала себя надежным партнёром, который всегда' +
                ' стремится к доверительным, плодотворным и долгосрочным отношениям в бизнесе.<br/>' +
                'С недавнего времени предоставляет услуги Уполномоченного Экономического Оператора, ' +
                'а также оказывает услуги Таможенного представителя на различных постах в зоне действия ' +
                'ДВТУ, СЗТУ и ЦТУ.',
                'Все это позволяет минимизировать затраты клиента за счет исключения ' +
                'комиссионных и посреднических платежей, а как следствие - предлагать выгодные условия на рынке. ' +
                'Сегодня SV Logistic гарантирует клиентам качество предоставляемого ' +
                'сервиса и всегда выдерживает сроки доставки.']
        }
    ];

