-
    autoList = [
        {
            brand: "Название модели",
            img: 'assets/img/park/foto-volvo-fl_005.png',
            options: ['мощьность', 'параметр 1', 'параметр 2']
        },
        {
            brand: "Название модели 2",
            img: 'assets/img/park/foto-volvo-fm_002.png',
            options: ['мощьность', 'параметр 1', 'параметр 2']
        },
        {
            brand: "Название модели 3",
            img: 'assets/img/park/foto-volvo-fl_005.png',
            options: ['мощьность', 'параметр 1', 'параметр 2']
        },
        {
            brand: "Название модели 4",
            img: 'assets/img/park/foto-volvo-fm_002.png',
            options: ['мощьность', 'параметр 1', 'параметр 2']
        },
        {
            brand: "Название модели 5",
            img: 'assets/img/park/foto-volvo-fl_005.png',
            options: ['мощьность', 'параметр 1', 'параметр 2']
        },
        {
            brand: "Название модели 6",
            img: 'assets/img/park/foto-volvo-fm_002.png',
            options: ['мощьность', 'параметр 1', 'параметр 2']
        },
        {
            brand: "Название модели 7",
            img: 'assets/img/park/foto-volvo-fl_005.png',
            options: ['мощьность', 'параметр 1', 'параметр 2']
        },
        {
            brand: "Название модели 8",
            img: 'assets/img/park/foto-volvo-fm_002.png',
            options: ['мощьность', 'параметр 1', 'параметр 2']
        }
    ];

