-
    contactList = [
        {
            tab: "Центральный офис в п. Восточном/Владивосток",
            contact: [
                {
                    label: 'Адрес:',
                    value: 'Россия, 692906, Приморский край, г. Находка, ул. Шоссейная, д. 118А'
                },
                {
                    label: 'Телефон/Факс:',
                    value: '+7 (4236) 750-123, +7 (4236) 628-884'
                },
                {
                    label: 'Электронная почта:',
                    value: 'vost@sv-log.ru'
                }
            ]
        },
        {
            tab: "Представительство в г. Екатеринбург",
            contact: [
                {
                    label: 'Телефон/Факс:',
                    value: '+7 (922) 023-49-21'
                },
                {
                    label: 'Электронная почта:',
                    value: 'ekb@sv-log.ru'
                }
            ]
        },
        {
            tab: "Представительство в г. Пекин",
            contact: [
                {
                    label: 'Телефон/Факс:',
                    value: '+86 18565307667, +7 (924) 139-94-59'
                },
                {
                    label: 'Электронная почта:',
                    value: 'china@sv-log.ru'
                }
            ]
        },
        {
            tab: "Представительство в г. Москва",
            contact: [
                {
                    label: 'Телефон/Факс:',
                    value: '+7 (925) 085-79-90'
                },
                {
                    label: 'Электронная почта:',
                    value: 'msk@sv-log.ru'
                }
            ]
        },
        {
            tab: "Представительство в г. Рига",
            contact: [
                {
                    label: 'Телефон/Факс:',
                    value: '+86 17767861157, +86 18080125333'
                }
            ]
        },
        {
            tab: "Складской комплекс",
            contact: [
                {
                    label: 'Телефон/Факс:',
                    value: '+7 (902) 070-13-13'
                },
                {
                    label: 'Электронная почта:',
                    value: 'vost@sv-log.ru'
                }
            ]
        },
    ];

