-
    factList = [
        {
            fact: "56023",
            desc: "оформленных таможенных деклараций",
            icon: 'icon-decl',
            htmlClass: 'col-sm-6 col-md-3'
        },
        {
            fact: "67307",
            desc: "Отправленных контейнеров",
            icon: 'icon-container',
            htmlClass: 'col-sm-6 col-md-3'
        },
        {
            fact: "4 офиса",
            desc: "в России и китае",
            icon: 'icon-maps',
            htmlClass: 'col-sm-6 col-md-3'
        },
        {
            fact: "43",
            desc: "человека в команде",
            icon: 'icon-human',
            htmlClass: 'col-sm-6 col-md-3'
        },
        {
            fact: "Собственный парк",
            desc: "контейнеровозов",
            icon: 'icon-car',
            htmlClass: 'col-sm-12 col-md-12'
        }
    ];

