-
    eventList = [
        {
            date: "21.11.2017",
            img: "assets/img/noimg.svg",
            title: 'Название события',
            url: '#'
        },
        {
            date: "21.11.2017",
            img: "assets/img/noimg.svg",
            title: 'Название события 1',
            url: '#'
        },
        {
            date: "21.11.2017",
            img: "assets/img/noimg.svg",
            title: 'Название события 2',
            url: '#'
        }
    ];

-
    goodList = [
        {
            img: "assets/img/noimg.svg",
            title: 'Название события',
            url: '#'
        },
        {
            img: "assets/img/noimg.svg",
            title: 'Название события',
            url: '#'
        },
        {
            img: "assets/img/noimg.svg",
            title: 'Название события',
            url: '#'
        }
    ]