-
    reviewList = [
        {
            dot: 'reviews-mageba',
            company: "ТД «Магеба»",
            img: 'assets/img/reviews/mageba.png',
            client: 'Разработчик, производитель и поставщик высококачественных изделий для транспортного и ' +
                'гражданского строительства с 1963 года. Изделиями mageba оборудовано более 20 000 сооружений, ' +
                'включая множество всемирно известных мостов.',
            task: 'Компании было необходимо закупить деформационные швы и сферические опорные части и организовать ' +
                'срочную поставку на условиях EXW от завода производителя до склада клиента, в кратчайший срок 25 дней.',
            solve: 'Установили оперативную связь с Китайским заводом, произведен оперативный закуп и доставка товара ' +
                'в РФ, подобран верный код ТНВЭД, произвели таможенную очистку товара, был составлен эскиз крепления ' +
                'данных частей в контейнере, доставили части на склад клиента в Москву. <bt/> <b>Комплектующие для ' +
                'установки мостов были доставлены в срок! Клиент доволен.</b>'
        },
        {
            dot: 'reviews-global-pump',
            company: "GLOBAL PUMP",
            img: 'assets/img/reviews/global-pump.png',
            client: 'Global Pump - проектирует и производит насосы мирового класса, которые используются для самых ' +
                'разных целей, в том числе при строительстве и осушении шахт, для строительства временных обводных ' +
                'канализационных линий, для водоснабжения в нефтегазовом секторе, для ликвидации последствий ' +
                'наводнений и для прочих целей промышленного производства.',
            task: 'Был получен заказ на закупку насосного оборудования из США, Davison и доставку в Россию в ' +
                'Порт Эгвекинот, через порт Восточный и Владивосток. Закупить насосы у производителя в США и контейнеры ' +
                'для затарки насосов и успеть на последний в сезоне Ледокол.',
            solve: 'Нашей компанией было закуплены насосы и спец оборудование (45 футовые контейнеры) Контейнера ' +
                'прошли сюрвейерский осмотр, на каждый составлялся отчет с подробным описанием покупаемого оборудования. ' +
                '<b>После загрузки были отправлены в п.Ванкувер – п. Восточный (произвели оперативно таможенную отчистку ' +
                'груза) – п. Владивосток – п. Эквекинот. Успели на последний в сезоне Ледокол и насосы были доставлены ' +
                'в срок! Клиент доволен.</b>'
        },
        {
            dot: 'reviews-goods',
            company: "ТОВАРЫ ИЗ КИТАЯ. Ультразвуковая машина",
            img: 'assets/img/reviews/goods.png',
            client: 'Поиск и закуп товара в КНР. Товар: Ультразвуковая машина для стежки ' +
                'мод ZC-2300, и комплектующие к нему.',
            task: 'Необходимо было найти в Китае надежного производителя и закупить станок, далее организовать ' +
                'поставку заказчику в Екатеринбург, с последующей установкой и настройкой данного станка.',
            solve: 'Проконтролировали качество производства товара и произвели инспекцию, закупили товар, ' +
                'произвесли таможенную очистку и доставили его на рынок РФ нашим заказчикам, произвесли настройку ' +
                'станка. <b>Станок был доставлен клиенту в согласованные сроки, установлен и настроен, пригоден и ' +
                'готов к эксплуатации. Клиент доволен.</b>'
        },
    ];

