-
    schemaList = [
        {
            title: "Получаете детальный рассчет стоимости доставки вашего груза или Кп по другим услугам",
            icon: 'icon-calc',
            htmlClass: 'offset-md-1 col-md-5'
        },
        {
            title: "Согласовываем условия заказа и подписываем договор с нашей стороны участвует белая компания со значительными оборотами.",
            icon: 'icon-contract',
            htmlClass: 'offset-md-1 col-md-5 line-left line-right'
        },
        {
            title: "Выдаем вам трекинг номер для отслеживания состояния груза и передаем заказ в отдел логистики",
            icon: 'icon-mark',
            htmlClass: 'offset-md-1 col-md-5 line-left'
        },
        {
            title: "Забираем груз от поставщика, доставляем в РФ или Китай, производим таможенную очистку и экспедируем груз до конечной точки",
            icon: 'icon-delivery',
            htmlClass: 'offset-md-1 col-md-5 line-left'
        }
    ];

