-
    serviceList = [
        {
            title: "Логистические услуги",
            row: 0,
            child: [
                    {
                        label: "Контейнерные грузоперевозки",
                        url: "#"
                    },
                    {
                        label: "Морские перевозки",
                        url: "#"
                    },
                    {
                        label: "Контейнерные перевозки ускоренным поездом",
                        url: "#"
                    },
                    {
                        label: "Автоперевозки",
                        url: "#"
                    },
                    {
                        label: "Авиа перевозки",
                        url: "#"
                    }
                ]
            },
        {
            title: "Таможенное оформление под ключ",
            row: 0,
            child: [
                {
                    label: "Контейнерные грузоперевозки 2",
                    url: "#"
                },
                {
                    label: "Морские перевозки 2",
                    url: "#"
                },
                {
                    label: "Контейнерные перевозки ускоренным поездом 2",
                    url: "#"
                },
                {
                    label: "Автоперевозки 2",
                    url: "#"
                },
                {
                    label: "Авиа перевозки 2",
                    url: "#"
                }
            ]
        },
        {
            title: "Бизнес с китаем",
            row: 1,
            child: [
                {
                    label: "Контейнерные грузоперевозки 3",
                    url: "#"
                },
                {
                    label: "Морские перевозки 3",
                    url: "#"
                },
                {
                    label: "Контейнерные перевозки ускоренным поездом 3",
                    url: "#"
                },
                {
                    label: "Автоперевозки 3",
                    url: "#"
                },
                {
                    label: "Авиа перевозки 3",
                    url: "#"
                }
            ]
        },
        {
            title: "Экспорт под ключ",
            row: 1,
            child: [
                {
                    label: "Контейнерные грузоперевозки 4",
                    url: "#"
                },
                {
                    label: "Морские перевозки 4",
                    url: "#"
                },
                {
                    label: "Контейнерные перевозки ускоренным поездом 4",
                    url: "#"
                },
                {
                    label: "Автоперевозки 4",
                    url: "#"
                },
                {
                    label: "Авиа перевозки 4",
                    url: "#"
                }
            ]
        }
    ];

