.b-pages {
  height: 100%;
  position: relative;
  &__list {
    position: relative;
    height: 100%;
  }
  &__item {
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
    border-right: 1px solid #f00;
  }
}