.b-pages {
  height: 100%;
  position: relative;
  &__list {
    position: relative;
    height: 100%;
  }
  &__item {
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
    &-next {
      display: block;
      font-weight: bold;
      position: absolute;
      padding: .5em 2em .5em 1em;
      right: 0;
      top: 30%;
      text-transform: uppercase;
      color: $black-1;
      font-size: 1.2rem;
      border-left: 1px solid $orange-1;
      &:hover, &:focus {
        text-decoration: none;
        color: $black-1;
      }

      @include screen-w(mobile) {
        top: 1em;
        left: 38%;
        font-size: 1rem;
        padding: .2em 2em .2em 1em;
      }
    }
    .b-arrow {
      &:after {
        border-color: $black-2;
        padding: 0.4em;
        position: absolute;
        top: 35%;
        @include screen-w(mobile) {
          top: 25%;
        }
      }
    }
    &.dark-theme {
      background-color: $dark-1;
      color: white;
      .b-arrow {
        color: white;
        &:after {
          border-color: white;
        }
      }
    }


  }

  .row {
    margin: 0;
  }
}

.b-page-wrap {
  padding: 1em;
  height: 100%;
  overflow: hidden;
  &-fill {
    margin: -1em;
  }
}