include _tmpl
include source/contactList


mixin tabsRender(item, index)
    li.nav-item
        button.nav-link(class= index == 0 ? "active" : "", data-toggle="tab", data-to="contact-tab#{index}", role="tab")= item.tab

mixin contentRender(item, index)
    .tab-pane(role="tabpanel", id="contact-tab#{index}", class= index == 0 ? "active" : "")
        each option in item.contact
            p
                b= option.label
                | &nbsp;
                span= option.value

+tmpl('Контакты', 'contacts')
    .b-page-wrap-fill
        #map
        .contact
            ul.nav.nav-tabs.js-tabs(role="tablist")
                - i = 0
                for item in contactList
                    +tabsRender(item, i)
                    - i = i + 1

            .tab-content
                - i = 0
                for item in contactList
                    +contentRender(item, i)
                    - i = i + 1