include _tmpl

+tmpl('Главная', 'home', 'dark-theme home-page')
    .home-page-video
        video.home-page-video__flow(playsinline, autoplay, muted, loop)
            source(data-src='http://sv-log.ru/assets/sea.mp4', type='video/mp4')
    .slick
        .js-home-slick
            div
                h1 Международные перевозки и таможенное оформление ваших грузов
                ul
                    li Растаможим товары ниже риска.
                    li Гарантия 100% неизменности стоимости и сроков доставки по договору.
                    li Все договора заключаются в белой компании с прозрачным оборотом
                    li Предоставляем всю отчетную документацию и декларации.
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 2
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 3
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 4

    //End slick
    .b-footer-abs
        a.btn.btn-primary.btn-lg.btn-get-cost(role='button', href='javascript:void(0)', data-toggle="modal", data-target="#getcostModal") Получить расчёт