include _tmpl

+tmpl('Главная', 'home', 'dark-theme home-page')
    div.slick
        div.slick-items
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 1
                ul
                    li Растаможим товары ниже риска.
                    li Гарантия 100% неизменности стоимости и сроков доставки по договору.
                    li Все договора заключаются в белой компании с прозрачным оборотом
                    li Предоставляем всю отчетную документацию и декларации.
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 2
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 3
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 4

    //End slick
    a.btn.btn-primary.btn-lg.btn-get-cost(href='#') Получить расчёт