div.b-pages__item.dark-theme(data-item="Главная", data-anchor="home")
    div.clisk
        div.slick-items
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 1
                ul
                    li Растаможим товары ниже рискаю
                    li Шарантия 100% неизменности стоимости и сроков доставки по договору.
                    li Все договора заключаютс в белой компании с прозрачным оборотом
                    li Предоставляем всю отчетную документацию и декларации.
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 2
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 3
            div
                h1 Международные перевозки и таможенное оформление ваших грузов 4