include _tmpl

+tmpl('Главная', 'home', 'dark-theme home-page')
    .home-page-video
        video.home-page-video__flow.js-video(playsinline, autoplay, muted, loop)
            source(data-src='http://sv-log.ru/assets/sea.mp4', type='video/mp4')
    .slick
        .js-home-slick
            div
                h1 Международные перевозки и таможенное оформление ваших грузов
                ul
                    li Растаможим #[span товары] ниже риска.
                    li #[span Гарантия] 100% неизменности стоимости и сроков доставки #[span по договору.]
                    li #[span Все] договора заключаются в белой компании #[span с прозрачным оборотом.]
                    li Предоставляем всю отчетную #[span документацию и декларации.]

    //End slick
    .b-footer-abs
        a.btn.btn-primary.btn-lg.btn-get-cost(role='button', href='javascript:void(0)', data-toggle="modal", data-target="#getcostModal") Получить расчёт