include _tmpl

+tmpl('Наши услуги', 'services')
    .b-services
        .row
            .col-sm-6
                h1.text-center Логистические услуги
            .col-sm-6
                h1.text-center Таможенное оформление под ключ
        .row
            .col-sm-6
                h1.text-center Бизнес с китаем
            .col-sm-6
                h1.text-center Экспорт под ключ