.b-pages__item(data-item="Наши услуги", data-anchor="services")
    .b-services
        .row
            .col-sm-6
                h1.text-center Логистические услуги
            .col-sm-6
                h1.text-center Таможенное оформление под ключ
        .row
            .col-sm-6
                h1.text-center Бизнес с китаем
            .col-sm-6
                h1.text-center Экспорт под ключ