extend layouts/main

block title
    title Главная страница

block content
    .js-full-page.b-pages
        section.b-pages__list.js-pages
            include pages/home
            include pages/service