extend layouts/main

block title
    title Главная страница

block content
    .js-full-page.b-pages
        div.b-pages__list.js-pages#fullpage
            include sections/home
            include sections/service
            include sections/facts