extend layouts/main

block title
    title Главная страница

block content
    .js-full-page.b-pages
        div.b-pages__list.js-pages
            include sections/home
            include sections/service
            include sections/facts
            include sections/schema
            include sections/reviews
            //include sections/employees
            include sections/auto-park
            include sections/about
            include sections/read
            include sections/contacts