extend layouts/main

block title
    title Главная страница

block content
    .js-full-page.b-pages
        div.b-pages__list.js-pages
            include sections/home
            include sections/service
            include sections/facts
            include sections/schema
            include sections/auto-park
            include sections/reviews
            include sections/our-clients
            include sections/read
            include sections/about
            include sections/contacts