section.b-header.b-header-inner.js-horizontal-page
    .b-header-inner__wrap.row
        .col-sm-3
            a.b-header-inner__logo(href="/")
        .offset-sm-5.col-sm-2
            .b-header-inner__contact
                .phone +7 (4236) 70-13-13
                .mail pachta@poshta.ru
        .col-sm-2
            a.btn.btn-call-me.btn-primary(role="button", href="#") Перезвоните мне
