section.b-header.b-header-inner.js-horizontal-page
    .b-header-inner__wrap.row

        .col-xs-8.col-sm-4.col-md-3.col-lg-3
            a.b-header-inner__logo(href="#home")

        .col-lg-4.hidden-md-down
            .coming-soon
                span Сайт находится в разработке
        .col-sm-8.col-md-5.col-lg-5.b-header-inner__right
            .b-header-contact
                .phone 8 800 100 89 49
                .free-call Звонок по России бесплатный
                .mail vost@sv-log.ru
            .b-header-call-me
                a.b-header-inner__btn.btn.btn-primary.btn-lg(role="button", href="javascript:void(0)", data-toggle="modal", data-target="#callmeModal")
                    .b-header-inner__btn-icon
                    .b-header-inner__btn-label &nbsp;&nbsp;Перезвоните мне
            .b-header-personal
                a.b-link-personal.icon.icon-user(href="javascript:void(0)")

