section.b-header.b-header-inner.js-horizontal-page
    .b-header-inner__wrap.row

        .col-sm-6.col-lg-3.b-header-inner__left
            button.navbar-toggler.js-navbar-toggler(type='button', aria-controls='b-sidebar', aria-expanded='false', aria-label='Toggle navigation')
                span
                span
                span
            a.b-header-inner__logo(href="#home")

        .col-lg-4.hidden-md-down
            .coming-soon
                span Сайт находится в разработке
        .col-sm-6.col-lg-5.b-header-inner__right
            .b-header-contact
                .phone 8 800 100 89 49
                .free-call.hidden-sm-down Звонок по России бесплатный
                .mail vost@sv-log.ru
            .b-header-call-me
                a.b-header-inner__btn.btn.btn-primary.btn-lg(role="button", href="javascript:void(0)", data-toggle="modal", data-target="#callmeModal")
                    .b-header-inner__btn-icon
                    .b-header-inner__btn-label.hidden-md-down &nbsp;&nbsp;Перезвоните мне
            .b-header-personal
                a.b-link-personal.icon.icon-user(href="javascript:void(0)")

