section.b-header.b-header-inner.js-horizontal-page
    .b-header-inner__wrap.row

        .col-xs-8.col-sm-5.col-md-4.col-lg-3
            a.b-header-inner__logo(href="#home")

        .col-xs-4.offset-sm-1.offset-md-1.offset-lg-4.col-sm-2.col-md-3.col-lg-3
            .b-header-inner__contact
                .phone 8 800 100 89 49
                .mail vost@sv-log.ru

        .col-sm-4.col-md-3.col-lg-2.hidden-xs-down
            .b-header-inner__right
                a.b-header-inner__btn.btn.btn-primary.btn-lg(role="button", href="#")
                    .b-header-inner__btn-icon
                    .b-header-inner__btn-label &nbsp;&nbsp;Перезвоните мне
