//- Main menu
-
    menuList = [
        {
            'label': 'Главная',
            'url': '#home'
        }, {
            'label': 'Услуги',
            'url': '#service'
        }, {
            'label': 'Факты о нас',
            'url': '#facts'
        }, {
            'label': 'Автопарк',
            'url': '#home'
        }, {
            'label': 'Как мы работаем',
            'url': '#home'
        }, {
            'label': 'Они довольны нами',
            'url': '#home'
        }
    ];

mixin nav(item)
    li.b-sidebar__list-item
        a.nav-link(href=item.url)=item.label
.b-sidebar
    .b-sidebar__wrap
        ul.b-sidebar__list.nav.flex-column
            for menu in menuList
                +nav(menu)