//- Main menu
-
    menuList = [
        {
            'label': 'Главная',
            'url': '#home'
        }, {
            'label': 'Услуги',
            'url': '#service'
        }, {
            'label': 'Факты о нас',
            'url': '#facts'
        }, {
            'label': 'Автопарк',
            'url': '#auto-park'
        }, {
            'label': 'Как мы работаем',
            'url': '#working'
        }, {
            'label': 'Они довольны нами',
            'url': '#reviews'
        }, {
            'label': 'С кем имеем дело',
            'url': '#our-clients'
        }, {
            'label': 'Почитать',
            'url': '#read'
        }, {
            'label': 'Немного истории',
            'url': '#about'
        }, {
            'label': 'Контакты',
            'url': '#contacts'
        }
    ];

mixin nav(item)
    li.b-sidebar__list-item
        a.js-link.nav-link(href=item.url)=item.label
.b-sidebar
    .b-sidebar__wrap
        ul.b-sidebar__list.nav.flex-column#menu
            //- for menu in menuList
                +nav(menu)