doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        block title
        link(rel="stylesheet", href="assets/css/core.min.css")
        link(rel="stylesheet", href="assets/css/main.css")

    body
        include blocks/header
        .row
            .col-sm-2
                include blocks/sidebar
            .col-sm-10
                block content

        include blocks/footer

        script(src="assets/js/core.min.js")
        script(src="assets/js/app.js")
