doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        block title
        link(rel="shortcut icon", href="assets/img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="assets/css/core.min.css")
        link(rel="stylesheet", href="assets/css/main.css")
    body
        include blocks/header
        section.b-main
            include blocks/sidebar
            div.b-content
                block content

        include blocks/footer
    script(src="assets/js/core.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
    script(src="assets/js/app.js")

